html{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.title{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin: 20px;
}
.form-body{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.bold{
    font-size: 20px !important;
    font-weight: bolder;
}
button {
 
    color: #FFF;
    border-radius: 40px;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    
}

.reset{
    background-color: #FDA241;
    width: 100%;
    
}
.reset:hover{
    background-color: #fda241b2;
    
}
.new{
    background-color: #BCCED9 ;  
    flex: 1;
    width: 100%;
}
.new:hover{
    background-color: #6395B8;
}
.dark{
    background-color:#BCCED9;
    flex: 1;
    width: 100%;
}
.dark:hover{
    background-color: #6395B8;
}
.mt{
    margin-top: 20px;
    margin-bottom: 20px;
}
.one{
    display: flex;
    gap: 20px;
    flex: 1;
}
.two{
    display: flex;
    gap: 20px;
    flex: 1;
}